version: '3.8'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: gestor_incidencias_app
    container_name: gestor_app
    restart: unless-stopped
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html
      - ./docker/nginx/site.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - appnet
    depends_on:
      - db

  web:
    image: nginx:stable
    container_name: gestor_nginx
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www/html:delegated
      - ./docker/nginx/site.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - appnet
    depends_on:
      - app

  db:
    image: mysql:8.0
    container_name: gestor_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: gestor
      MYSQL_USER: gestor
      MYSQL_PASSWORD: secret
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "33060:3306"
    networks:
      - appnet

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: root
    ports:
      - '8080:80'
    networks:
      - appnet
    depends_on:
      - db

volumes:
  db_data:

networks:
  appnet:
