services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: gestor_incidencias_app
    container_name: gestor_app
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html
    depends_on:
      - db
    networks:
      - appnet

  web:
    image: nginx:stable-alpine
    container_name: gestor_nginx
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - appnet

  db:
    image: mysql:8.0
    container_name: gestor_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: gestor
      MYSQL_USER: gestor
      MYSQL_PASSWORD: secret
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "33060:3306"
    networks:
      - appnet

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: gestor_phpmyadmin
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: root
    ports:
      - "8080:80"
    depends_on:
      - db
    networks:
      - appnet

volumes:
  db_data:

networks:
  appnet:
